.contactActive {
    background-color: #B2FFA8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    display: flex;
    gap: 32px;
    width: 1300px;
}

.contact-info, .contact-form {
    width: 48%;
}

.contact-info {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-info h2, .contact-info h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.contact-info h3 {
    margin-top: 30px;
}

.contact-info .small {
    margin-top:3px;
    margin-bottom: 30px;
    font-size: 0.9em;
    color: #555;
}

.contact-info address {
    margin-top: 20px;
    font-style: normal;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea,
.form-group button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="file"] {
    padding: 5px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

button {
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}



img {
    margin-top: 5px;
    margin-bottom: 5px;
}