.profileActive {
    background-color: #B2FFA8;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}


.upload-documents {
    margin-top: 20px;
}

.upload-documents h2 {
    color: #5A2C75;
    margin-bottom: 10px;
}

.progress-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.progress-bar .progress {
    height: 10px;
    background-color: #64D49C;
    border-radius: 5px;

}

.progress-bar span {
    margin-left: 10px;
    color: #64D49C;
}

.upload-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.upload-form select, 
.upload-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.upload-label {
    display: block;
    margin-bottom: 10px;
    color: #0066cc;
    cursor: pointer;
}

.document-list p {
    margin: 10px 0;
}

.document-list i.icon {
    margin-right: 10px;
}

.document-list .status {
    margin-left: 10px;
    font-weight: bold;
}

.document-list .status.success {
    color: #64D49C;
}

.document-list .status.error {
    color: #d9534f;
}

.save-button {
    background-color: #64D49C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.save-button:hover {
    background-color: #86E7B8;
}