.profileActive {
    background-color: #B2FFA8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.group {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.left img {
    width: 225px;
}

.radio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 350px;
    margin-top: 70px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-group input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
}

.button {
    background-color: #64D49C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
    margin-top: 20px;
}

.button:hover {
    background-color: #86E7B8
}